.Nav-Header,
.Nav-ulList,
.Nav-Edit {
  display: flex;
}

.Nav-Header {
  margin-top: 10px;
  margin-right: 15px;
}

.Nav-ulList {
  /* display: flex; */
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.Nav-Edit {
  margin-left: auto !important;
  gap: 10px;
}

.vr {
  max-height: 20px;
  min-height: 20px;
}

.Navbar-list {
  text-decoration: none;
}

/* .text-link {
  color: inherit;
  text-decoration: inherit;
} */

.home-anchor {
  border: 1px;
}